dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==3.0.0
fonttools==4.56.0
h5py==3.10.0
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.7
MarkupSafe==2.1.5
matplotlib==3.7.0
narwhals==1.31.0
numpy==1.24.0
packaging==24.2
pandas==2.0.3
pillow==10.4.0
plotly==6.0.1
pylsl==1.16.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2025.1
scipy==1.10.1
setuptools==70.0.0
six==1.13.0
tzdata==2022.1
Werkzeug==3.0.0
